<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>

        <!--  BitcoinLib settings start -->

        <!-- Shared RPC settings start -->
        <add key="RpcRequestTimeoutInSeconds" value="60" />
        <!-- Shared RPC settings end -->

        <!-- Bitcoin settings start -->
        <add key="Tezos_Node_DaemonUrl" value="http://0.0.0.0:0" />
        <add key="Tezos_Node_DaemonUrl_Testnet" value="http://0.0.0.0:0" />

    </appSettings>
</configuration>