:root {
  --header-bg-color: #1f1f25;
  --header-ft-color: #f5f5f5;
  --card-box-shadow: 0 1px 2px 0 rgba(61, 65, 68, 0.06), 0 1px 3px 1px rgba(61, 65, 68, 0.16);
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/NunitoSans-ExtraLight.woff2) format('woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/NunitoSans-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/NunitoSans-Italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/NunitoSans-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(/fonts/NunitoSans-Bold.woff2) format('woff2');
}

body {
    font-size: 15px;
    font-family: 'Segoe UI', 'Nunito Sans', sans-serif;
}

.navbar {
  border: none;
  -webkit-box-shadow: var(--card-box-shadow);
  -moz-box-shadow: var(--card-box-shadow);
  box-shadow: var(--card-box-shadow);
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.navbar-brand svg {
    width: 64px;
}

.navbar-inverse {
    background-color: var(--header-bg-color);
    z-index: 100;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: var(--header-bg-color);
    color: var(--header-ft-color);
}

.btn.active, .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.collapse.in, .collapsing {
    text-align: left;
}

.toc .level1 > li > a {
    font-weight: 500;
}

.toc .level2 > li > a {
    margin-top: 4px;
    font-size: 15px;
}

.toc-filter {
    margin: 0;
}

.toc-filter > .filter-icon {
    display: none;
}

.toc-filter > input {
    padding: 0 10px;
}

.toc-filter > .clear-icon {
    cursor: pointer;
}

.toc-filter > .clear-icon:hover {
    color: #1f1f25;
}

.sidetoc.shiftup {
    bottom: 43px;
}

.footer {
    padding: 10px 0;
}

.article {
    margin-top: 92px;
    margin-bottom: 92px;
}

.article h4 {
    font-weight: 500;
}

.article th {
    font-weight: 500;
}

#fields, #properties, #methods, #events {
    font-weight: 500;
}

.sideaffix {
    margin-top: 20px;
    font-size: 13px;
}

.sideaffix > div.contribution > ul > li > a.contribution-link {
    font-weight: 500;
    padding: 6px 12px;
}

.affix ul ul > li > a:before {
    top: 2px;
}

.affix h5 {
    font-weight: 500;
    font-size: 13px;
    padding-left: 12px;
}

.affix ul ul > li > a {
    padding: 4px 24px;
}

.alert {
    padding: 12px;
    padding-bottom: 10px;
}

.alert h5 {
    font-weight: 500;
}

h1 {
    font-size: 32px;
    margin-top: 22px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h3 .anchorjs-link {
    margin-left: -1.15em !important;
}

p {
    line-height: 23px;
}

pre {
    overflow-x: auto;
}

pre .hljs {
    white-space: pre;
}

blockquote {
    padding: 4px 14px;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-left: none;
}

::-webkit-scrollbar-thumb {
    background: #99999950;
    border: 3px solid #f0f0f0;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: #99999990;
}

@media (max-width: 768px) {
    .navbar-inverse .navbar-form {
        margin: 0 -15px;
    }
    .navbar-toggle {
        margin-right: 0;
    }
    .article {
        margin-top: 0 !important;
    }
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh !important;
    position: relative;
    padding: 4rem 0;
}

#home h1 {
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 3.2rem;
}

#title-logo {
    display: flex;
    justify-content: center;
    margin: 0 0 6rem 0;
}

#title-logo img {
    width: 30rem;
}

#title {
    margin: 0 0 9rem 0;
}

#title span {
    font-weight: 500;
}

#anima {
    max-width: 51rem;
    margin: 0 auto 10rem auto;
    text-align: left;
}

#anima .highlight {
    color: #fff9b6;
}

#actions {
    margin-bottom: 15rem;
}

#actions .btn {
    background: none;
    border-color: #f5f5f5;
    color: #f5f5f5;
    min-width: 18rem;
    min-height: 5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

#actions .btn:hover {
    box-shadow: 0 0 25px rgba(245,245,245, .3);
    text-shadow: 0 0 8px rgba(245,245,245, .75);
}

#actions .btn.btn-act {
    background: #f5f5f5;
    color: #1f1f25;
    font-weight: 500;
}

#actions .btn.btn-act:hover {
    box-shadow: 0 0 25px rgba(245,245,245, .4);
}

#footer {
    position: absolute;
    bottom: 0;
    width: 520px;
    left: calc(50% - 260px);
    background-color: inherit;
    text-align: center;
    padding: 1rem;
    color: #888;
}

#footer a {
    color: #888;
}

#footer a:hover {
    color: #f5f5f5;
    text-shadow: 0 0 8px rgba(245,245,245, .75);
}

@media (max-width: 1600px) {
    #home h1 {
        line-height: 1.4;
        font-size: 3rem;
    }
    #title-logo {
        margin: 0 0 5rem 0;
    }
    #title-logo img {
        width: 26rem;
    }
    #title {
        margin: 0 0 6rem 0;
    }
    #anima {
        max-width: 48rem;
        margin: 0 auto 7rem auto;
    }
    #actions {
        margin-bottom: 10rem;
    }
}

@media (max-width: 768px) {
    #home {
        padding: 4rem 1rem;
    }
    #home h1 {
        letter-spacing: 1px;
        font-size: 2rem;
    }
    #title-logo {
        margin: 0 0 3rem 0;
    }
    #title-logo img {
        width: 16rem;
    }
    #title {
        margin: 0 0 4rem 0;
    }
    #actions {
        margin-bottom: 10rem;
    }
    #actions .btn {
        width: 100%;
        margin: .5rem 0;
    }
    #footer {
        width: 320px;
        left: calc(50% - 160px);
    }
}

@media (max-width: 330px) {
    #actions {
        margin-bottom: 4rem;
    }
}
